@font-face { 
	font-family: 'simplifica';
	src:url('hosted/fonts/simplifica.ttf')  format('truetype');
}

@font-face { 
	font-family: 'passionone';
	src:url('hosted/fonts/passionone.otf')  format('opentype');
}

@font-face { 
	font-family: 'born';
	src:url('hosted/fonts/born.otf')  format('opentype');
}